In [65]:
import numpy as np
import pandas as pd
pd. __version__

'1.0.5'

In [66]:
pd.Timestamp?

In [67]:
data=pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [68]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [69]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [70]:
np.series?

Object `np.series` not found.

In [71]:
data=pd.Series([0.25,0.5,0.75,1.0],
              index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [72]:
data['c']

0.75

In [73]:
#Series as specialized dictionary

pop_dict={'california':38764646,
         'Texas':86464684,
         'New York':757357,
         'Florida':7347347,
         'Ohio':6486386}
population=pd.Series(pop_dict)
population

california    38764646
Texas         86464684
New York        757357
Florida        7347347
Ohio           6486386
dtype: int64

In [74]:
population['Ohio']

6486386

In [75]:
population[:'New York']

california    38764646
Texas         86464684
New York        757357
dtype: int64

In [76]:
#Pandas DataFrame object
area_dict={'california':88900,
          'Texas':67543,
          'New York':10085,
          'Florida':67948,
          'Ohio':46757}
area_dict

{'california': 88900,
 'Texas': 67543,
 'New York': 10085,
 'Florida': 67948,
 'Ohio': 46757}

In [77]:
area=pd.Series(area_dict)
area

california    88900
Texas         67543
New York      10085
Florida       67948
Ohio          46757
dtype: int64

In [78]:
states=pd.DataFrame({'Population':population,
                    'area code':area})
states

            Population  area code
california    38764646      88900
Texas         86464684      67543
New York        757357      10085
Florida        7347347      67948
Ohio           6486386      46757

In [79]:
states.index

Index(['california', 'Texas', 'New York', 'Florida', 'Ohio'], dtype='object')

In [80]:
states.columns

Index(['Population', 'area code'], dtype='object')

In [81]:
#DF as a specialized dictionary
states['area code']

california    88900
Texas         67543
New York      10085
Florida       67948
Ohio          46757
Name: area code, dtype: int64

In [82]:
#Constructing pandas DF
pd.DataFrame(population,columns=['population'])
#from a single series object

            population
california    38764646
Texas         86464684
New York        757357
Florida        7347347
Ohio           6486386

In [83]:
#froma list of dicts
data=[{'a':i,'b':2*i,'c':i*3,'d':i**2}
     for i in range(10)]
pd.DataFrame(data)

   a   b   c   d
0  0   0   0   0
1  1   2   3   1
2  2   4   6   4
3  3   6   9   9
4  4   8  12  16
5  5  10  15  25
6  6  12  18  36
7  7  14  21  49
8  8  16  24  64
9  9  18  27  81

In [84]:
pd.DataFrame([{'a':1,'b':2,'c':3},{'a':1,'c':35}])

   a    b   c
0  1  2.0   3
1  1  NaN  35

In [85]:
#from a dict of series objects
pd.DataFrame({'population':population,
             'area code':area})

            population  area code
california    38764646      88900
Texas         86464684      67543
New York        757357      10085
Florida        7347347      67948
Ohio           6486386      46757

In [86]:
#from a 2D numpy array
pd.DataFrame(np.random.rand(4,2),
            columns=['foo','bar'],
            index=['a','b','c','d'])

        foo       bar
a  0.394768  0.097040
b  0.716176  0.752183
c  0.115215  0.820211
d  0.742411  0.579184

In [87]:
#from structured array
A=np.zeros(5,dtype=[('A','i8'),('B','f8')])
A

array([(0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.)],
      dtype=[('A', '<i8'), ('B', '<f8')])

In [88]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0
3  0  0.0
4  0  0.0

In [89]:
#Index object
index=pd.Index([2,1,4,5,7])
index

Int64Index([2, 1, 4, 5, 7], dtype='int64')

In [90]:
index[::2]

Int64Index([2, 4, 7], dtype='int64')

In [91]:
index[:2]

Int64Index([2, 1], dtype='int64')

print(index.size,index.shape,index.ndim,index.dtype)

In [92]:
index[2]=0

TypeError: Index does not support mutable operations

In [93]:
#Index as ordered set
indA=pd.Index([8,9,5,4,2,1])
indB=pd.Index([0,3,1,6,7,9])
indA&indB#intersection

Int64Index([9, 1], dtype='int64')

In [94]:
indA|indB#union

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [95]:
indA^indB#symetric difference

Int64Index([0, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [96]:
indA.union(indB)

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [97]:
#Data selection in series
data=pd.Series([0.25,0.5,0.75,1.0],
              index=['a','b','c','d'])

In [98]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [99]:
data['c']

0.75

In [100]:
'a'in data

True

In [101]:
'f'in data

False

In [102]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [103]:
data.values()

TypeError: 'numpy.ndarray' object is not callable

In [104]:
data['e']=1.25

In [105]:
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [106]:
#series as a 1D array
data['a':'c']#slicing by explicit index

a    0.25
b    0.50
c    0.75
dtype: float64

In [43]:
data[0:2]#slicing y implicit integer index

a    0.25
b    0.50
dtype: float64

In [107]:
data[(data>0.3)&(data<1.0)]#masking

b    0.50
c    0.75
dtype: float64

In [108]:
data[['a','e']]#fancy indexing

a    0.25
e    1.25
dtype: float64

In [109]:
data.loc['a']

0.25

In [110]:
data.loc['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [112]:
area_dict

{'california': 88900,
 'Texas': 67543,
 'New York': 10085,
 'Florida': 67948,
 'Ohio': 46757}

In [113]:
#Data selectin in DataFrame>>>DataFrame as a dictionary

area=data[area_dict]
area

KeyError: "None of [Index(['california', 'Texas', 'New York', 'Florida', 'Ohio'], dtype='object')] are in the [index]"

In [114]:
area_dict

{'california': 88900,
 'Texas': 67543,
 'New York': 10085,
 'Florida': 67948,
 'Ohio': 46757}

In [115]:
population

california    38764646
Texas         86464684
New York        757357
Florida        7347347
Ohio           6486386
dtype: int64

In [116]:
data.population

AttributeError: 'Series' object has no attribute 'population'

In [117]:
area=area_dict
area
pop=population
pop

california    38764646
Texas         86464684
New York        757357
Florida        7347347
Ohio           6486386
dtype: int64

In [118]:
data=pd.DataFrame({'area':area,'pop':pop})
data

             area       pop
Florida     67948   7347347
New York    10085    757357
Ohio        46757   6486386
Texas       67543  86464684
california  88900  38764646

In [119]:
data.area

Florida       67948
New York      10085
Ohio          46757
Texas         67543
california    88900
Name: area, dtype: int64

In [120]:
data['area']

Florida       67948
New York      10085
Ohio          46757
Texas         67543
california    88900
Name: area, dtype: int64

In [121]:
data.area is data['area']

True

In [122]:
data.pop is data['area']

False

In [123]:
data['density']=data['pop']/data['area']
data

             area       pop      density
Florida     67948   7347347   108.131910
New York    10085    757357    75.097372
Ohio        46757   6486386   138.725453
Texas       67543  86464684  1280.142783
california  88900  38764646   436.047762

In [124]:
data.drop['density per km**2']
data

TypeError: 'method' object is not subscriptable

In [125]:
data.drop[['density per km**2'],axis = 0]

SyntaxError: invalid syntax (<ipython-input-125-703073d7e02c>, line 1)

In [126]:
data.values#DataFrame as 2D array

array([[6.79480000e+04, 7.34734700e+06, 1.08131910e+02],
       [1.00850000e+04, 7.57357000e+05, 7.50973723e+01],
       [4.67570000e+04, 6.48638600e+06, 1.38725453e+02],
       [6.75430000e+04, 8.64646840e+07, 1.28014278e+03],
       [8.89000000e+04, 3.87646460e+07, 4.36047762e+02]])

In [127]:
data.T

              Florida       New York          Ohio         Texas    california
area     6.794800e+04   10085.000000  4.675700e+04  6.754300e+04  8.890000e+04
pop      7.347347e+06  757357.000000  6.486386e+06  8.646468e+07  3.876465e+07
density  1.081319e+02      75.097372  1.387255e+02  1.280143e+03  4.360478e+02

In [128]:
data['area']

Florida       67948
New York      10085
Ohio          46757
Texas         67543
california    88900
Name: area, dtype: int64

In [129]:
data.loc[data.density>100,['pop','density']]

                 pop      density
Florida      7347347   108.131910
Ohio         6486386   138.725453
Texas       86464684  1280.142783
california  38764646   436.047762

In [130]:
data.iloc[0,2]=90
data

             area       pop      density
Florida     67948   7347347    90.000000
New York    10085    757357    75.097372
Ohio        46757   6486386   138.725453
Texas       67543  86464684  1280.142783
california  88900  38764646   436.047762

In [131]:
#Operating on data in Pandas
#ufuncs:index preservation
rng=np.random.RandomState(42)
ser=pd.Series(rng.randint(0,100,4))
ser

0    51
1    92
2    14
3    71
dtype: int32

In [132]:
df=pd.DataFrame(rng.randint(0,10,(3,4)),
               columns=['A','B','C','D'])
df

   A  B  C  D
0  4  6  9  2
1  6  7  4  3
2  7  7  2  5

In [133]:
np.exp(ser)

0    1.409349e+22
1    9.017628e+39
2    1.202604e+06
3    6.837671e+30
dtype: float64

In [134]:
np.sin(df*np.pi/4)

              A         B             C         D
0  1.224647e-16 -1.000000  7.071068e-01  1.000000
1 -1.000000e+00 -0.707107  1.224647e-16  0.707107
2 -7.071068e-01 -0.707107  1.000000e+00 -0.707107

In [135]:
#Ufuncs:Index Alignment
area=pd.Series({"Murang'a":21000,'Nairobi':47000,'Mombasa':10000,'Nyeri':18009},
              name='area')
population =pd.Series({'Nairobi':4863678,"Murang'a":587348,'Nyeri':809488,'Siaya':389456},
                     name='population')

In [136]:
density=population/area
density

Mombasa            NaN
Murang'a     27.968952
Nairobi     103.482511
Nyeri        44.949081
Siaya              NaN
dtype: float64

In [137]:
area.index|population.index

Index(['Mombasa', 'Murang'a', 'Nairobi', 'Nyeri', 'Siaya'], dtype='object')

In [141]:
A=pd.Series([2,3,4], index=[0,1,2])
B=pd.Series([4,5,6], index=[1,2,3])
A+B

0    NaN
1    7.0
2    9.0
3    NaN
dtype: float64