In [38]:
import numpy as np
x=np.array([2,4,6,8,5,13,17])
x**2

array([  4,  16,  36,  64,  25, 169, 289], dtype=int32)

In [39]:
data=['pEtEr','PAUL','maRy','guIDo']
[y.capitalize() for y in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [40]:
#Can't work on NoneType(missing values)
data=['JxMMI','Yvonne', None, 'ALicE', 'GUIDO']
[y.capitalize() for y in data]

AttributeError: 'NoneType' object has no attribute 'capitalize'

In [41]:
import pandas as pd
names=pd.Series(data)
names

0     JxMMI
1    Yvonne
2      None
3     ALicE
4     GUIDO
dtype: object

In [5]:
names.str.capitalize()

0     Jxmmi
1    Yvonne
2      None
3     Alice
4     Guido
dtype: object

In [6]:
names.str.get(i=(1))

0       x
1       v
2    None
3       L
4       U
dtype: object

In [7]:
names.str.get_dummies()

   ALicE  GUIDO  JxMMI  Yvonne
0      0      0      1       0
1      0      0      0       1
2      0      0      0       0
3      1      0      0       0
4      0      1      0       0

In [8]:
names.str.len()

0    5.0
1    6.0
2    NaN
3    5.0
4    5.0
dtype: float64

In [9]:
#Tables of Pandas String Methods
monte=pd.Series(['Graham Chapman','John Cleese', 'Terry Gilliam','Eric Idle',
                'Tery Jones', 'Michael Palin'])

In [10]:
monte.str.isdigit()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [11]:
monte.str.istitle()

0    True
1    True
2    True
3    True
4    True
5    True
dtype: bool

In [12]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [13]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4        [Tery, Jones]
5     [Michael, Palin]
dtype: object

In [14]:
#Methods using regular expression
monte.str.count(pat=('G'))

0    1
1    0
2    1
3    0
4    0
5    0
dtype: int64

In [15]:
monte.str.contains('re')

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [16]:
monte.str.match(pat=('G'))

0     True
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [17]:
monte.str.rsplit()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4        [Tery, Jones]
5     [Michael, Palin]
dtype: object

In [18]:
monte.str.extract('([A-Za-z]+)')

         0
0   Graham
1     John
2    Terry
3     Eric
4     Tery
5  Michael

In [19]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4        [Tery Jones]
5     [Michael Palin]
dtype: object

In [20]:
monte.str.get_dummies()

,Eric Idle,Graham Chapman,John Cleese,Michael Palin,Terry Gilliam,Tery Jones
0,0,1,0,0,0,0
1,0,0,1,0,0,0
2,0,0,0,0,1,0
3,1,0,0,0,0,0
4,0,0,0,0,0,1
5,0,0,0,1,0,0

In [21]:
#vectorized item access and slicing
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [22]:
monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

In [23]:
#indicator variables
full_monte=pd.DataFrame({'name':monte,
                        'info':['B|C|D','B|D','A|C','B|D','B|C',
                               'B|C|D']})
full_monte

             name   info
0  Graham Chapman  B|C|D
1     John Cleese    B|D
2   Terry Gilliam    A|C
3       Eric Idle    B|D
4      Tery Jones    B|C
5   Michael Palin  B|C|D

In [24]:
full_monte['info'].str.get_dummies('|')

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

In [25]:
try:
    pd.read_csv('~/downloads/Zindi/Train.csv')
except ValueError as e:
    print("ValueError: ", e)

In [33]:
with open('C:/Users/User/downloads/Zindi/Train.csv', 'r') as f:
    line=f.readline()
pd.read_csv(line).shape

FileNotFoundError: [Errno 2] No such file or directory: 'Tour_ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,package_accomodation,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,first_trip_tz,cost_category\n'

In [34]:
#Simple Recipe Recommender
spice_list=['salt','pepper','oregano','sage','palsey','rosemary',
            'tarragon','thyme','paprika','cumin']

In [36]:
import re
spice_df=pd.DataFrame(dict((spice,recipes.ingredients.str.contains(spice,re.IGNORECASE))
                         for spice in spice_list))
spice_df.head()

NameError: name 'recipes' is not defined

In [37]:
selection=spice_df.query('parsley & paprika & tarragon')
len(selection)

NameError: name 'spice_df' is not defined

In [43]:
 !curl -O http://openrecipes.s3.amazonaws.com/recipeitems-latest.json.gz
 !gunzip recipeitems-latest.json.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    20  100    20    0     0     34      0 --:--:-- --:--:-- --:--:--    34
'gunzip' is not recognized as an internal or external command,
operable program or batch file.

In [44]:
try:
    recipes = pd.read_json('recipeitems-latest.json')
except ValueError as e:
    print("ValueError:", e)

ValueError: Expected object or value

In [46]:
with open('recipeitems-latest.json') as f:
    line = f.readline()
pd.read_json(line).shape

FileNotFoundError: [Errno 2] No such file or directory: '~/recipeitems-latest.json'